# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.ipynb_checkpoints/
.pytest_cache/

# Data (Ignore raw large files, keep structure)
data/raw/
!data/raw/.gitkeep
data/extracted/*
!data/extracted/.gitkeep
data/evaluation/*
!data/evaluation/.gitkeep
Historiographical_Divergence/.env
Historiographical_Divergence/data/raw/*
# IDE
.vscode/
.idea/